
body {
	background-image: url("img/zeszyt.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	margin: none;
	background-color: grey;
}

h1 {
	margin-top: 150px;
	text-transform: uppercase;
	font-family: "comic sans MS";
	font-size: 60px;
	letter-spacing: 0.4em;
	color: #000000;
	text-shadow: 1px 3px 0px #666666;
	margin-left: 150px;
	padding-right: 100px;
}

foto {
	text-align: center;
	max-height: 100%;
}

.btn-secondary{
	width: 50px;
	height: 50px;
	margin-top: 10px;
	font-family: "comic sans MS";
	margin-left: 7px;
}

.btn-dark {
	margin-left: 55px;
}

#word {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 0px;
	position: relative;
	left: 10px;
	margin-top: 30px;
}

#random {
	margin-top:10px;
}

.found {
	display: inline;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
	bottom: -100px;
    margin: 0px;
}

@media only screen and (max-width: 1000px) {
	h1 {
		margin-left: 70px;
		font-size: 50px;
	}
	#random {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		margin-left: 0px;
		font-size: 50px;
	}
	#random {
		margin-top: 10px;
	}
}
